User.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:element name="Users">
   		<xsd:complexType>
			<xsd:sequence>		
      				<xsd:element name="User" minOccurs = "0" maxOccurs = "unbounded"/>
				<xsd:complexType>
					<xsd:attribute name="Username" type="xsd:string" use="required"/>
					<xsd:attribute name="Password" type="xsd:string" use="required"/>
				<xsd:complexType/>
   		 	</xsd:sequence>
    		</xsd:complexType>
	</xsd:element>
</xsd:schema>
