User.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:element name="Users">
   		<xsd:complexType>
			<xsd:sequence>		
      				<xsd:element name="User" minOccurs = "0" maxOccurs = "unbounded"/>
				
					<xsd:sequence>
					<xsd:element name="Username" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element name="Password" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
				
   		 	</xsd:sequence>
    		</xsd:complexType>
	</xsd:element>
</xsd:schema>
